
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Le Wagon - Middleman - About</title>
    <link href="stylesheets/application-4f606044.css" rel="stylesheet">
    <script src="javascripts/application-93de88c9.js"></script>
    <link href="images/favicon-f15af148.png" rel="icon" type="image/png">
  </head>
  <body>
<div id="about">
  <div class="about-content">
    <h1>This template is built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
        <li>
          <img src="images/val.png" class="img-circle" alt="Val1304">
          <h2>Valentin</h2>
          <p>
<a href="http://github.com/Val1304">              <i class="fa fa-github"></i> Val1304
</a>          </p>
        </li>
        <li>
          <img src="images/elena.png" class="img-circle" alt="ElenaGaDeb">
          <h2>Elena</h2>
          <p>
<a href="http://github.com/ElenaGaDeb">              <i class="fa fa-github"></i> ElenaGaDeb
</a>          </p>
        </li>
    </ul>
  </div>
</div>
</body>
</html>
